*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #F2F2F2;
}

header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #404EED;
}

.logo{
    height: 50px;
    margin-left: 60px;
}

.caixona{
    display: flex;
}

.tela{
    display: flex;
    justify-content: center;
    width: 45%;
    height: 700px;
    background-color: #404EED;
    padding: 30px;
    box-sizing: border-box;
}

.ilustracao{
    width: 90%;
    height: 93%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 700px;
    background-color: white;
}

.caixinha{
    height:550px;
    width: 50%;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

.escolha{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.opçao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background-color: #F2F2F2;
    box-sizing: border-box;
    border: 0.5px solid #C4C4C4
}

.selecionadoOP{
    border: 3px solid #404EED;
}



.desenho{
    width: 65px;
    height: 65px;
    object-fit: cover;
}

#manga{
    width: 60px;
    height: 60px;
}

opçaoG{
    width: 100px;
    height: 100px;
}

h1{
    margin-bottom: 5px;
}

h2{
    margin-bottom: 15px;
    margin-top: 4px;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
}

#gola{
    width: 65px;
    height: 55px;
}

#redonda{
    width: 72px;
    height: 50px;
}

#polo{
    width: 67px;
    height: 46px;
}

#seda{
    width: 47px;
    height: 47px;
}

#poliester{
    width: 52px;
    height: 47px;
}

.linkIMG{
    width: 100%;
    margin-top: 10px;
}

input{
    height: 30px;
    width: 100%;
    border-radius: 7px;
    border: none;
}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    margin-top: 20px;
    border-radius: 7px;
    color: white;
}



.selecionadoBOT{
    background-color: #404EED;
}

.pedidos{
    width: 70%;
    height: 250px;
    background-color: #F2F2F2;
}

h3{
    margin-top: 30px;
    margin-bottom: 22px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.vitrine{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    overflow: auto;
}

.expo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    height: 100%;
    width: 150px;
    background-color: white;
    border-radius: 10px;
}

.roupas{
    width:125px;
    height: 75%;
    object-fit: cover;
    
    
}

h4{
    margin-top: 5px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

strong{
    font-weight: 700;
}

.centralizadora{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selecionadoRED{
    border: 2px solid red;
}

.inativo{
    background-color: #C4C4C4;
}

